.container {
    background-color: #f4f4f4;
    flex-grow: 1;
    width: 96%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 50px;
    min-height: 500px;
    padding-bottom: 100px;
}

.serviceCards1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.welcomeCard {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80%;
    border-radius: 50px;
    background-image: url("../assets/background.jpg");
    background-size: 2000px;
    padding: 10px;
    padding-top: 15px;
    padding-left: 20px;
}

.card {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 60px;
    margin-left: 60px;
    width: 400px;
    height: 200px;
    border-radius: 50px;
    background-color: white;
    background-size: 2000px;
    padding: 10px;
    padding-top: 15px;
    padding-left: 20px;
}

.title {
    margin-top: 20px;
    font-weight: bold;
    color: black;
    font-size: 30px;
    font-family: "Gilroy Extra-Bold";
}

.text {
    color: black;
    font-size: 15px;
    width: 100px;
    padding: 10px;
    border-radius: 20px;
}

.sub {
    width: 250px;
    font-weight: bold;
    margin-top: 30px;
    color: #b1b1b1;
    font-size: 15px;
    font-family: "Century Gothic";
}


.welcomeTitle {
    font-weight: bold;
    color: white;
    font-size: 30px;
    font-family: "Gilroy Extra-Bold";
}

.welcomeText {
    color: white;
    font-size: 15px;
    border: 1px solid white;
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}

.welcomeText:hover {
    cursor: pointer
}

.welcomeSub {
    font-weight: bold;
    margin-top: 10px;
    color:white;
    font-size: 25px;
    font-family: "Gilroy Extra-Bold";
}

.services {
    font-family: "Gilroy Extra-Bold";
    align-self: flex-start;
    margin-left: 100px;
}